.carousel-page-image {
  height: auto !important;
  max-height: 100% !important;
  width: auto !important;
  max-width: 100% !important;
  margin: auto !important;
  display: block !important;
}

.carousel-page-height {
  height: 63vh;
  min-height: 400px;
}

.m-carousel-page-height {
  height: 76vh;
}

.carousel-horizontal {
  padding-top: 18vh;
}

/**
 * DANGER: Overwrites react-responsive-carousel's classes
 */
.control-arrow {
  width: 20vw;
}

.control-prev:before {
  border-right: 8px solid #222222 !important;
}

.control-next:before {
  border-left: 8px solid #222222 !important;
}

.slide {
  background: #ffffff !important;
}
