.app {
  text-align: center;
  margin: 0 20vw 0 20vw;
}

.app-mobile {
  text-align: center;
  margin: 0 10vw 0 10vw;
}

.app-title {
  font-family: 'La Belle Aurore', cursive;
  font-size: calc(80px + 2vmin);
  margin: 0;
  padding-top: 5%;
}

.app-description {
  padding-bottom: 5%;
}

.app-table {
  table-layout: fixed;
  width: 40%;
  margin: 0 30%;
}

.app-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(100% - 20px);
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  font-size: 100%;
}

.app-input:focus {
  box-shadow: 0 0 4px #aaaaaa;
  outline: none;
  transition: ease-in-out 0.1s;
}

.app-button {
  margin-top: 1em;
  width: 30%;
  padding: .375rem .75rem;
  background: transparent;
  border-color: #aaaaaa;
  font-size: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.app-button:hover {
  box-shadow: 0 0 4px #aaaaaa;
  outline: none;
  transition: ease-in-out 0.1s;
}

.app-button:focus {
  outline: none;
  border-color: #222222;
  box-shadow: 0 0 4px #222222;
}

/**
 *  Custom carousel styles
 */
.carousel-browser {
  margin: 1vw 10vw 0 10vw;
}

.carousel-mobile {
  margin: 10vw 0 0 0;
}

.carousel-image {
  height: auto !important;
  max-height: 100% !important;
  width: auto !important;
  max-width: 100% !important;
  margin: auto !important;
  display: block !important;
}

.slide-limitter {
  height: 70vh;
}

/**
 * Custom toast styles
 */
.toast-success {
  background: #bbddff;
  color: #222222;
}

.toast-error {
  background: #ffdddd;
  color: #222222;
}
