.circle {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: 0;
  width: 15vw;
  height: 15vw;
  opacity: 0.6;
}

.circle-hover {
  filter: blur(2px);
}

.circle-container {
  text-align: center;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 15vw;
  height: 15vw;
  background: radial-gradient(circle at 20% 30%, #ffffff, #000000);
  transition: transform .2s;
}

.circle-container-hover {
  background: radial-gradient(circle at 20% 30%, #222222, #000000);
  transform: scale(1.05);
}

.circle-layover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.circle-title {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(12px + 2vmin);
  color: #ffffff;
}

.circle-description {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(1vmin);
  color: #ffffff;
}

.m-circle {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: 0;
  width: 50vw;
  height: 50vw;
  opacity: 0.6;
  filter: blur(1px);
}

.m-circle-container {
  text-align: center;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: #000000;
}

.m-circle-layover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.m-circle-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.m-circle-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
}
