.image {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: 0;
  width: 14vw;
  height: 14vw;
  opacity: 0.6;
}

.image_hover {
  filter: blur(2px);
}

.container {
  text-align: center;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: 0.5vw;
  width: 14vw;
  height: 14vw;
  background: radial-gradient(circle at 20% 30%, #ffffff, #000000);
  transition: transform .2s;
}

.container_hover {
  background: radial-gradient(circle at 20% 30%, #222222, #000000);
  transform: scale(1.05);
}

.layover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.title {
  font-family: 'La Belle Aurore', cursive;
  font-size: calc(16px + 2vmin);
  color: #ffffff;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(1.2vmin);
  color: #ffffff;
}

.m_image {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  margin: 0;
  width: 50vw;
  height: 50vw;
  opacity: 0.6;
  filter: blur(1px);
}

.m_container {
  text-align: center;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: #000000;
}

.m_layover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.m_title {
  font-family: 'La Belle Aurore', cursive;
  font-size: 28px;
  color: #ffffff;
}

.m_description {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
}
